[submodule "Threading/xv6-riscv"]
	path = Threading/xv6-riscv
  url = https://github.com/AfzalHossan-2005021/xv6-riscv.git
[submodule "Scheduling/xv6-riscv"]
	path = Scheduling/xv6-riscv
  url = https://github.com/AfzalHossan-2005021/xv6-riscv.git
[submodule "System-call/xv6-riscv"]
	path = System-call/xv6-riscv
	url = https://github.com/AfzalHossan-2005021/xv6-riscv.git
